@model Employees.ViewModels.ChildViewModel;

@{
    ViewData["Title"] = "Details";
}

<h1>Детали</h1>

<div>
    <h4>Данные сотрудника</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Child.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Child.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Child.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Child.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Child.Lastname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Child.Lastname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Child.BirthDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Child.BirthDay)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Child.Id">Детали</a> |
    <a asp-controller="Child" asp-action="index" asp-route-id="@Model.Child.EmployeeId">Назад</a>
</div>